@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes dots {
  0% {
    content: "typing .";
  }
  33% {
    content: "typing ..";
  }
  66% {
    content: "typing ...";
  }
}
